# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/
next-env.d.ts

# data
/data/*.db
/data/*.db-*
/data/uploads/

# env
.env
.env*.local

# debug
npm-debug.log*
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# drizzle
drizzle/meta
